<p id="notice"><%= notice %></p>
<!-- <nav class="navbar navbar-default navbar-static-top">

</nav> -->
<div class="container">
  <div class="jumbotron">
    <div class="page-header">
      <h1>Rafflo</h1>
      <p>
        Helping to make your community fundraising more awesome.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <h3>Rafflo makes community fundraising easier, more fun and more successful.</h3><br>
    </div>
    <div class="col-sm-4 col-md-4">
      <h3>Rafflo manages ticket sales - so everyone can sell raffle tickets! No more fiddly raffle ticket books. There are options for cash or online banking so you can do without those money bags too.</h3>
    </div>
    <div class="col-sm-4 col-md-4">
      <h3>Everyone can get real time information on progress toward the fundraising target, and individuals can stay motivated with updated information on their tickets sales. You can email out information about the raffle straight from the app to interested people.</h3><br>
    </div>
    </div>

  <!-- <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <h3>Tips for organising your community fundraiser</h3>
          <p>Here is an article about ideas for organising fundraising inititives</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <h3>How to ask for raffle donations</h3>
          <p>Here is an article about how to approach businesses to ask for donations.</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
  </div> -->
  <%= link_to 'New Raffle', new_raffle_path %>
</div>

  <!-- <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @raffles.each do |raffle| %>


        <tr>
          <td>
            <%= raffle.raffle_name %>
          </td>
          <td><%= link_to 'Show', raffle %></td>
          <td><%= link_to 'Edit', edit_raffle_path(raffle) %></td>
          <td><%= link_to 'Destroy', raffle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table> -->

  <br>

  </div>
